html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 71px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container p,
.container .text-muted {
    margin: 20px 0;
}
.img-center{
    margin: 0px auto;
}
/* loader ajax */
.loader{
    position: relative;
    overflow: hidden;
}
.curtain{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.curtain .fa{
    position: absolute;
    top: 20%;
    left: 60%;
    margin-left: -60px;
    font-size: 50px;
    color: #999;
}
.loader .curtain{
    display: block;
}
#shipping-address.shipping-address-close{
    display: none;
}